<footer>
    <div class="container center-block">

        <div class="logos">
            <img width=100px  id="footer-adhc-logo" src="https://alabama.box.com/shared/static/rrz800hrp7h5crt74rorawa8ihagu8eb.png">
            <img width=200px src="{{ site.theme.link }}/static/as-white-logo.png">
            <img width=170px  src="https://www.lib.ua.edu/wp-content/themes/roots-ualib/assets/img/new-ualib-logo.png">
        </div>

        <div class="ua-disclaimers">
            <a href="http://www.ua.edu/">University of Alabama</a>
            •
            <a href="http://www.as.ua.edu/">College of Arts & Sciences</a>
            •
            <a href="http://www.lib.ua.edu/">University Libraries</a>
            •
            <a href="http://www.ua.edu/disclaimer.html">Disclaimer</a>
            •
            <a href="http://www.ua.edu/privacy.html">Privacy</a>
            •
            <a href=" http://www.ua.edu/copyright.html">Copyright</a>
        </div>
        Copyright {{"now"|date('Y')}}
    </div>
</footer>
